.chatInput{
    border-radius: 20px;
    position: fixed;
    bottom: 0;
    width: 100%;
    margin-bottom: 5px;

}
/* .chatInput::placeholder{
    font-size : =
} */
::-webkit-scrollbar{
    display: none;
}
.chatInput > form {
    position: relative ; 
    display: flex;
    justify-content: center ;
}

.chatInput > form  > input {
    margin:auto;
    bottom : 30px;
    border: 1px solid gray;
    border-radius: 3px;
    padding: 20px 500px;
    width: 99%;
}
.chatInput > form > button {
    display : none  !important
}